.header Button {
  margin-left: 1em;
  margin-right: 1em;
}

.array-container {
  min-height: 100vh !important;
  flex-direction: row;
  align-items: flex-start;
  display: inline-flex;
  margin: 2em auto;
  flex-wrap: wrap;
}

.array-bar {
  display: inline-block;
  margin: 0 1px;
}
